# TWILIO_ACCOUNT_SID=
# TWILIO_AUTH_TOKEN=

# # A Twilio-owned (SMS-capable) phone number
# TWILIO_FROM=

# # A phone number that can receive SMS (your personal number, for example)
# TWILIO_TO=

# TWILIO_BODY=

# # The public URL Twilio can reach for delivery status callbacks:
# # e.g. https://<YOUR_NGROK_HOST>/status
# TWILIO_STATUS_CALLBACK_URL=

# # Inbound SMS webhook URL. Must be configured in Twilio Console:
# # e.g. https://<YOUR_NGROK_HOST>/sms/incoming
# TWILIO_INCOMING_WEBHOOK_URL=

# # Local server port
# PORT=

